#tile {
    width: 87.5px;
    height: 90px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: move;
    z-index: 1000;
    -webkit-user-drag: none;
    user-select: none;
    object-fit: cover;
}

#tile img,
.piece {
    width: 100%;
    height: 100%;
    display: block;
}